@import url(./font.scss);
.colorBtn, section #letters #ul_keyboard li, section .div_btn button {
  background-color: #fefefe;
  -webkit-filter: drop-shadow(0 0.2rem 0.05rem #f0f0f0);
          filter: drop-shadow(0 0.2rem 0.05rem #f0f0f0);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2 ease-in-out;
  transition: all 0.2 ease-in-out;
}

.colorBtnHover, section #letters #ul_keyboard li:hover, section .div_btn button:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: all 0.5 ease-in-out;
  transition: all 0.5 ease-in-out;
}

.hide {
  display: none;
}

/* ------------------------------------------------------------------------------------------------ */
body {
  font-family: "bahnschriff", sans-serif;
  font-size: 19px;
  margin: 0 15px;
  color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
  margin-bottom: 65px;
}

section div h1 {
  margin-bottom: auto;
  font-size: 35px;
}

section div p {
  font-size: 0.6em;
  margin-top: 0;
  margin-bottom: 80px;
}

section .divBtn_first {
  margin-top: 70px;
}

section div div img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  -webkit-filter: drop-shadow(0 0.2rem 0.05rem #f0f0f0);
          filter: drop-shadow(0 0.2rem 0.05rem #f0f0f0);
  margin-bottom: 50px;
}

section div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  cursor: pointer;
}

section div ul li {
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  cursor: pointer;
}

section div ul .lettersList {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
}

section #letters {
  margin-bottom: 35px;
}

section #letters #ul_keyboard {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em 1em;
}

section #letters #ul_keyboard li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  width: 2.1em;
  height: 2.1em;
  font-size: 0.9em;
}

section .div_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

section .div_btn button {
  height: 50px;
  width: 250px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #1b1b1b;
}

section .div_btn button .strg {
  margin-left: 15px;
}

@media only screen and (max-width: 478px) {
  section {
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media only screen and (min-width: 478px) {
  section {
    width: 450px;
    margin: auto auto;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  section div p {
    margin-bottom: 95px;
  }
  section div div img {
    margin-bottom: 65px;
  }
  section #letters {
    margin-bottom: 45px;
  }
}

@media only screen and (min-width: 688px) {
  section {
    width: 600px;
    margin-top: 40px;
    margin-bottom: 60px;
  }
}
/*# sourceMappingURL=style.css.map */