@import url(./font.scss);

$color1: #1b1b1b;
$color2: rgb(240, 240, 240);
$color3: rgb(254.3, 254.3, 254.3);
$color4: rgb(54, 54, 54);

.colorBtn{
    background-color: $color3;
    filter: drop-shadow(0 0.2rem 0.05rem $color2);
    transform: scale(1);
    transition: all 0.2 ease-in-out;
}

.colorBtnHover{
    transform: scale(1.15);
    transition: all 0.5 ease-in-out;
}

.hide{
    display: none;
}

/* ------------------------------------------------------------------------------------------------ */

body{
    font-family: "bahnschriff", sans-serif;
    font-size: 19px;
    margin: 0 15px;
    color: $color1;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 65px;

    div{
        h1{
            margin-bottom: auto;
            font-size: 35px;
        }
    
        #counter{
            font-size: 0.6em;
            margin-top: 0;
            margin-bottom: 80px;
            text-align: left;
            margin-left: 0;
            padding-left: 0;
        }
    }

    div{

        div{
            img{
                width: 100px;
                height: 100px;
                border-radius: 15px;
                filter: drop-shadow(0 0.2rem 0.05rem $color2);
                margin-bottom: 50px;
            }
        }

        // canvas{
        //     background-color: $color3;
        //     border-radius: 15px;
        //     filter: drop-shadow(0 0.2rem 0.05rem $color2);
        //     margin-bottom: 50px;
        // }
    }

    div{
        ul{
            display: flex;
            justify-content: center;
            padding-left: 0;
            cursor: pointer;

            li{
                list-style-type: none;
                align-items: center;
                margin: 0 5px;
                cursor: pointer;
            }

            .lettersList{
                align-items: center;
                font-size: 0.8em;
            }
        }
    }

    #letters{
        margin-bottom: 35px;

        #ul_keyboard{
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1em 1em;

            li{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                width: 2.1em;
                height: 2.1em;
                @extend .colorBtn;
                font-size: 0.9em;

                &:hover{
                    @extend .colorBtnHover;
                }
            }
        }
    }

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;

        button{
            height: 50px;
            width: 250px;
            // padding: 13px 35px;
            border-radius: 5px;
            border: none;
            @extend .colorBtn;
            cursor: pointer;
            color: $color1;

            &:hover{
                @extend .colorBtnHover;
            }

            .strg{
                margin-left: 15px;
            }
        }
    }
}

@media only screen and (max-width: 478px) {
    section{
        margin-left: 35px;
        margin-right: 35px;
    }
}

@media only screen and (min-width: 478px) {
    section{
        width: 450px;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 60px;

        div{
            p{
                margin-bottom: 95px;
            }
        }

        div{
            div{
                img{
                    margin-bottom: 65px;
                }
            }
        }

        #letters{
            margin-bottom: 45px;
        }
    }
}